.flex-1 {
  flex: 1;
}
.d-none {
  display: none !important;
}
.d-flex {
  display: flex;
}
.d-col {
  flex-direction: column;
}

.d-row {
  flex-direction: row;
}
.j-evenly {
  justify-content: space-between;
}
.j-center {
  justify-content: center;
}
.self-center {
  align-self: center;
}
.j-between {
  justify-content: space-between;
}
.a-center {
  align-items: center;
}
.text-center {
  text-align: center;
}
.text-justify-center {
  text-align: justify;
  text-align-last: center;
}
.no-break {
  white-space: nowrap;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.pointer-none {
  pointer-events: none;
}
.index-1 {
  z-index: 1;
}
.mobile-desktop {
  display: none;
}
.desktop-mobile {
  display: flex;
}
.transition-3 {
  transition: all 0.3s;
}

.drop-down {
  height: 3.5em;
  width: 100%;
  display: flex;
  align-items: baseline;
  align-items: center;
  z-index: 1;
}
.drop-down * {
}
.drop-down > input {
  flex: 1;
}
.dropdown-container {
  height: 100%;
  color: black;
  width: 80px;
}

.dropdown {
  position: relative;
  height: 3.5em !important;
}

.dropdown-header {
  height: 3.5em;
  /* width: 100%; */
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0 10px !important;
  background-color: whitesmoke;

  border-radius: 30px 0 0 30px;
}

.dropdown-option {
  position: relative;
  background-color: white;
  overflow-y: scroll;
  transition: all 0.4s;
  max-height: 0px;
  flex: 1;
  border-radius: 30px;
}
.dropdown-open {
  max-height: 300px !important;
}
.dropdown-option::-webkit-scrollbar {
  display: none;
}
.dropdown-header > img,
.dropdown-option > li > img {
  width: 20px;
}
.dropdown-header > span,
.dropdown-option > li > span {
  font-size: 0.8em;
}
.dropdown-header,
.dropdown-option > li {
  height: 3.5em;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: black;
}
@media (max-width: 768px) {
  .mobile-d-col {
    flex-direction: column;
  }
  .mobile-d-col-reverse {
    flex-direction: column-reverse;
  }
  .mobile-j-center {
    justify-content: center;
  }
  .mobile-a-center {
    align-items: center;
  }
  .mobile-a-unset {
    align-items: unset;
  }
  .mobile-desktop {
    display: flex;
  }
  .desktop-mobile {
    display: none !important;
  }
  .mobile-relative {
    position: relative;
  }
  .mobile-absolute {
    position: absolute;
  }
}
